body {
  margin: 0 30px;
  background-image: url("images/background.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Helvetica Neue';
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav h1 {
  margin: 0px;
  font-family: 'Fascinate Inline', cursive;
  font-size: 36px;
}

ul {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 12px;
}

ul li {
  list-style-type: none;
  margin: 0 20px;
}

ul li#sign-up {
  margin-right: 0px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
}

#content {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tags {
  font-size: 12px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 70%;
  height: 40px;
  background-color: white;
  color: gray;
  border-radius: 10px;
}

#tags i.fa-search {
  font-size: 24px;
}

span.tag {
  background-color: gainsboro;
  padding: 5px;
  margin: 0 5px;
}

span.tag i {
  margin-right: 5px;
}

#results {
  margin: 0 auto;
  display: flex;
  font-size: 12px;
  width: 70%;
}

.result {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.result img {
  width: 50%;
  height: 50%;
  margin-right: 10px;
}
